<div class="col-12 p-0">
	<div class="row ">
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.home">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/21.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;">Dashboard</span></h4>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.fragment({type : 'lib'})">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/11.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;">Data Library</span></h4>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.fragment({type : 'frg'})">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/14.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;">Lesson Blocks</span></h4>
				</div>
				
			</div>
		</div>
		
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.lesson({type : 'ls'})">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/12.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;">Set Homework</span></h4>
				</div>
				
			</div>
		</div>
		
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.lesson({type : 'ex'})">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/13.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;">Set Exams</span></h4>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.relaxationclass">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/15.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;">Set Arcade</span></h4>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.teacherstudentlessonscore({type : 'ls'})">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/02.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;">Check Homework</span></h4>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.teacherstudentlessonscore({type : 'ex'})">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/03.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;">Exam Results</span></h4>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.points({type : 'ex'})">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/points.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;">Points Manager</span></h4>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.speakinglabteacher">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/10.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;">Speaking Lab</span></h4>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.assigmentlesson">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/05.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;">Set Assignments</span></h4>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.offlinehomework">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/06.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;">Homework Diary </span></h4>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.multiplayerroom">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/multiroom.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;">Multi room </span></h4>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.relaxationdata">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/08.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;"> Relaxation Leader Board </span></h4>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.cards">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/09.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;">Card Managemant  </span></h4>
				</div>
				
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-6 cursor-pointer" >
			<div class="card shadow mt-2">
				<div class="card-header" style="margin: 0px;padding: 0px;" ui-sref="app.teacherstudiorec">
					<h4 class="text-blue" style="margin: 0px;padding: 0px;">
					<img src="public/icons/10.png" style="width: 23%;height: auto;"> 
					<span style="text-align:right;float: right;margin-top: 28px;margin-right: 18px;">Recording Studio</span></h4>
				</div>
				
			</div>
		</div>
		
	</div>
    <div class="card shadow border" >
        <div class="card-header with-border">
            <h3 class="card-title mb-0 text-white" > Lesson : <% totalItems || 0 %> </h3>
        </div>
        <div class="card-body scroll_table  pb-0">
            <div class="row no-gutters ">
                <div class="col-12">
                     <table class="custom-table">
                    <thead>
                        <tr>
                            <th ng-repeat="cols in mdata.gridCol" class="<%  cols.sclass %>" compile="cols.title"
                                ng-click="sort_col($event)" data-col='<% cols.slug %>'></th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="rows in mdata.griddata.data">
                            <td ng-repeat="cols in mdata.gridCol" compile="rows[cols.slug]"></td>
                        </tr>
                    </tbody>
                     <tbody ng-if="mdata.griddata.data.length == 0">
                        <tr class="text-center">
                            <td colspan="<% mdata.gridCol.length %>"> <strong> No record Found </strong></td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
         <div class=" card-footer index_footer">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group perpageItems mb-0">
                            <label>Showing </label>
                            <select ng-model="perpageItems"
                                class="form-control form-control-sm input-sm w-50 d-inline-block"
                                ng-change="itemsperchange(perpageItems)"
                                ng-options="pageperdata for pageperdata in pageper">
                            </select> entries
                        </div>
                    </div>
                    <div class="col-md-3 text-right" style="line-height: 30px;"> Showing <% mdata.griddata.from %> to
                        <% mdata.griddata.to %> of
                        <% mdata.griddata.total%> entries
                    </div>
                    <div class="col-md-6 pull-right text-right">

                        <ul uib-pagination total-items="totalItems" ng-model="pageNo" style="float: right;"
                            ng-change="pageChanged(pageNo)" max-size="maxSize" class="pagination float-right mb-0"
                            boundary-links="true" items-per-page="perpageItems">
                        </ul>
                    </div>
                </div>

            </div>
    </div>
</div>


<div class="col-12 p-0">
    <div class="card shadow border" ng-if="dData.exam">
        <div class="card-header with-border">
            <h3 class="card-title mb-0 text-white"> Exam : <% dData.exam.length || 0 %> </h3>
        </div>
        <div class="card-body scroll_table  pb-0">
            <div class="row no-gutters ">
                <div class="col-12">
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th>Lesson Name</th>
                                <th>Total Student</th>
                                <th>Pending</th>
                                <th>Completed</th>
                            </tr>
                        </thead>
                        <tbody ng-if="dData.exam && dData.exam.length">
                            <tr ng-repeat="ls in dData.exam">
                                <td><% ls.lesson_name %></td>
                                <td><% ls.total_student %></td>
                                <td><% ls.pending_lesson %></td>
                                <td><% ls.completed_lesson %></td>
                            </tr>
                        </tbody>
                        <tbody ng-if="!(dData.exam && dData.exam.length)">
                            <tr>
                                <td colspan="4">No Record Found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>