<style>
    .row.ml-0>.custom-control.custom-checkbox.custom-control-inline.col-md-4:first-child {
        flex: 0 0 100%;
        max-width: 100%;
    }
</style>

<script>
    $(document).on('change', "#school_id_checkbox_id_all", function (e) {
        var chk = $(this).prop('checked');
        //console.log(chk);
        var prt = $(this).closest('.row.ml-0').find('.custom-control-input');
        console.log(prt);
        prt.prop('checked', chk);
    });
</script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper <% slug %>_edit_class">
    <!-- Content Header (Page header) -->
    <!-- <section class="content-header">
        <h1>
            Edit <% mtitle %>
            <small>it all starts here</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active"><% mtitle %></li>
        </ol>
    </section> -->

    <!-- Main content -->
    <!-- <div class="page-title-box">
        <div class="page-title-right">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);" ui-sref="app.home">Home</a></li>
                <li class="breadcrumb-item active"><% mtitle %></li>
            </ol>
        </div>
        <h4 class="page-title"><% mtitle %></h4>
    </div> -->
    <section class="content">
        <form id="editform" method="post" action="" enctype="multipart/form-data">
            <!-- Default card -->
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title float-left mb-0 mt-1">Edit <% mtitle %> </h3>
                    <!-- <div class="card-tools float-right">
                        <a class="btn btn-sm btn-primary" ui-sref="app.<% slug %>" ui-sref-active="active"> Back to list
                        </a>
                        <button type="button" class="btn btn-sm btn-success" ng-click="updateformdata($event)"
                            ng-model="saveform">Update
                            <% mtitle %> </button>
                    </div> -->
                </div>
                <div class="card-body">

                    <input type="hidden" ng-model="pk" value="<% mpk_val %>" name="<% mpk %>">
                    <input type="hidden" ng-model="_token" value="<% csrf_token %>" name="_token">
                    <div compile="mform"></div>

                </div>
                <div class="card-footer">
                    <div class="card-tools pull-right">
                        <a class="btn btn-sm btn-primary" ui-sref="app.<% slug %>" ui-sref-active="active"> Back to list
                        </a>
                        <button type="button" class="btn btn-sm btn-success" ng-click="updateformdata($event)"
                            ng-model="saveform">Update
                            <% mtitle %> </button>
                    </div>
                </div>

            </div>
        </form>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->