<!-- <div class="form-group row" ng-show="mpk_val">
    <label for="oldpassword_text_id" class="col-sm-2 control-label text-right">Old Password</label>
    <div class="col-sm-6">
        <span> </span>
        <input type="text" class="form-control <% setpassword ? 'required' : '' %> " ng-disabled="!setpassword"
            ng-model="oldpassword" data-rule-minlength="8" name="oldpassword" id="oldpassword_text_id" value=""
            placeholder="Enter Old Password">
    </div>
    <div class="col-sm-3">
        <input type="checkbox" name="setpassword" ng-model="setpassword" id=""> Set Password
    </div>
</div> -->
<div class="form-group row">
    <label for="password_text_id" class="col-sm-2 control-label text-right"><% $scope.mpk_val ? 'New' : '' %>
        Password</label>
    <div class="col-sm-6">
        <span> </span>
        <input type="text" class="form-control <% setpassword ? 'required' : '' %> disabled " ng-disabled="!setpassword"
            ng-model="password" data-rule-minlength="8" name="password" id="password_text_id" value="" data-rules-req
            placeholder="Enter <% $scope.mpk_val ? 'New' : '' %> Password">
    </div>
    <div class="col-sm-3">
        <input type="checkbox" name="setpassword" ng-model="setpassword" id=""> Set Password
    </div>
</div>
<div class="form-group row">
    <label for="confirmpassword_text_id" class="col-sm-2 control-label text-right">Confirm Password</label>
    <div class="col-sm-6">
        <span> </span>
        <input type="text" data-rule-same="password" ng-disabled="!setpassword"
            class="form-control <% setpassword ? 'required' : '' %> " ng-model="confirmpassword" data-rule-minlength="8"
            name="confirm_password" id="confirmpassword_text_id" value="" placeholder="Enter Confirm Password">
    </div>
</div>